.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Removed background-image line since it's set in inline styles */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

  
  .inputField {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .button {
    width: 320px;
    padding: 10px;
    margin-bottom: 10px; /* Added margin-bottom for spacing between buttons */
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  