/* Calculator.css */
.calculatorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/calculator.png'); /* Make sure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Calculator.css or your specific CSS file */
.react-datepicker__input-container input {
    width: 200px; /* Set the width of the input box */
    height: 20px; /* Set the height of the input box */
    font-size: 16px; /* Increase the font size */
    padding: 8px; /* Optional: add some padding inside the input box */
}

.amountInput {
    width: 200px;
    padding: 10px;
    margin: 20px 0; /* Adds space above and below the input field */
    font-size: 16px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }
  
  .buttonContainer button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }